.hidden { display: none;}

#siteContainer {
    margin: 0 auto;
  
}

#circle {
    width: 200px;
    height:200px;
    border: 10px solid red;
    margin: 0 auto;
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: circle 2s infinite forwards;
}

@keyframes circle {
    0% { border-color: red; transform: scale(1);}
    25% {border-color: gold; transform: scale(1.1);}
    50%{border-color: red; transform: scale(1.3);}
    75%{border-color: gold; transform:scale(1.1);}
    100%{border-color: red;transform: scale(1);}
}

.header {width: 100%;
    height: 5em;
    display: block;
    background-color: #004712;}

#mainHeader {
    margin-top: 0px;
    padding-bottom: 40px;
    overflow: hidden;
    border-bottom: solid 1px #DDD;
   
  
}
#mainHeader img { margin-left: 3em;}

#mainHeader p { font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: xx-large;
    margin-top: 1.5em;
    }

#mainNav {
        margin-left: auto;
        display: flex;
        flex-direction: column;
    }


#mainNav ul {
        
    margin-top: 3em;
    display: flex;
    flex-direction: row;
}

#mainNav ul li a {
    display:block;
    width: 100px;
    text-decoration: none;
    color: #fff;
    margin-left: 7.5em;
    text-align: center;

    font-size: 16px;
    font-weight: 600;

    

    
}
#mainNav ul li a:hover {
        padding-bottom: .5em;
 
      color: red    ;
      -webkit-transition: color 500ms linear;
         -ms-transition: color 500ms linear;
         transition: color 500ms linear;
  
}

#mainNav ul li a.active {
    color: red;
 }

#logo { 
    width: 200px;
    float: left;
}

.body1 
    {
        width: 1440px;
        height: 620px;
    background-color: #11271A;}

    .body1 img {
        margin-top: 2em;
        margin-left: 22em;
    }

    .body1 img:hover {
        color: white;
    }

.body1 p {
    text-transform: capitalize;
    margin-top: 1em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: xx-large;
    color: white;
}

.body2 
    {
        width: 1440px;
        height: 620px;
    background-color: #93855D;}

    .body2 img {
        margin-top: 2em;
        margin-left: 22em;
    }

    .body2 img:hover {
        color: white;
    }

.body2 p {
    text-transform: capitalize;
    margin-top: 1em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: xx-large;
    color: white;
}

.body3 
    {
        width: 1440px;
        height: 920px;
    background-color: #11271A;}

    .body3 img {
        margin-top: 2em;
        margin-left: 22em;
    }

    .body3 img:hover {
        color: white;
    }

.body3 p {
    text-transform: capitalize;
    margin-top: 1em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: large;
    color: white;
    
}

.body3hover {
    text-transform: uppercase;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    margin-left: 39em;
}

.body3 a {
    display:block;
    width: 150px;
    height: 50px;
    background-color: grey;
    color: #fff;
    margin-top: 0em;
    margin-left: 0em;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;

    border-radius: 7px;
   

    
}

.body3 a:hover {
    background: #93855D;
  
    -webkit-transition: background 500ms linear;
       -ms-transition: background 500ms linear;
       transition: background 500ms linear;
}

#mainFooter { width: 100%;
    height: 22em;
    display: block;
    background-color: #004712;
    margin-top: 0px;
    padding-bottom: 40px;
    overflow: hidden;
    border-bottom: solid 1px #DDD}

.firstline { text-transform: capitalize;
    margin-top: 1em;
    font-family: 'Oswald', sans-serif;
    margin-left: 5em;
    font-size: xx-large;
    color: white;

}

.secondline { text-transform: capitalize;
    margin-top: 1em;
    font-family: 'Oswald', sans-serif;
    margin-left: 6.5em;
    font-size: x-large;
    color: white;
}

#footerNav {
    margin-left: 8em;
    display: flex;
    flex-direction: column;
}

#footerNav ul {
        
  
    display: flex;
    flex-direction: row;
}


#footerNav ul li a {
    display:block;
    width: 100px;
    text-decoration: none;
    color: #fff;
    margin-left: 0.2em;
    text-align: center;

    font-size: 16px;
    font-weight: 600;

    

    
}

#copyRight {
    text-transform: capitalize;
    margin-top: 1em;
    font-family: 'Oswald', sans-serif;
    margin-left: 40.5em;
    font-size: x-large;
    color: white;

}

#lang {
    margin-left: 5em;
    display: flex;
    flex-direction: column;
}

#lang ul {
        
  margin-top: 2em;
    display: flex;
    flex-direction: row;
}


#lang ul li a {
    display:block;
    width: 100px;
    text-decoration: none;
    color: #fff;
   margin-left: -4em;
    text-align: center;

    font-size: 16px;
    font-weight: 600;}

    #lang ul li a p {
        margin-top: .4em;
        display:block;
        width: 100px;
        text-decoration: none;
        color: #fff;
        font-family: 'Oswald', sans-serif;
        text-align: center;
    
        font-size: 25px;
        font-weight: 600;
        }



        .two-item {
            display: grid;
            grid-column: 2 / span 2;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-evenly;
            row-gap: 1em;
         }

         .A-body1 
    {
        width: 1440px;
        height: 620px;
    background-color: #93855D;}

    .A-body1 img {
        margin-top: 6em;
        margin-left: 2em;
    }

    .A-body1  img:hover {
        color: white;
    }

.A-body1  p {
    text-transform: capitalize;
    margin-top: 3em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: xx-large;
    color: white;
}

.A-body2 
    {
        width: 1440px;
        height: 920px;
    background-color: #11271A;}

    .A-body2 img {
        margin-top: 2em;
        margin-left: 33em;
    }

    .A-body2 img:hover {
        color: white;
    }

.A-body2 p {
    text-transform: capitalize;
    margin-top: 1em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: xx-large;
    color: white;
}

.A-body3 
{
    width: 1440px;
    height: 720px;
background-color: #93855D;}

.A-body3 img {
    margin-top: 11.5em;
    margin-left: 2em;
}

.A-body3  img:hover {
    color: white;
}

.large  {
text-transform: capitalize;
margin-top: 3em;
font-family: 'Oswald', sans-serif;
text-align: center;
font-size: xx-large;
color: white;
}

.small  {
    text-transform: capitalize;
    margin-top: 3em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: x-large;
    color: white;
    }

    .A-body4 
    {
        width: 1440px;
        height: 920px;
    background-color: #11271A;}

    .A-body4 img {
        margin-top: 2em;
        margin-left: 2em;
    }

    .A-body4 img:hover {
        color: white;
    }

.A-body4 p {
    text-transform: capitalize;
    margin-top: 1em;

    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: large;
    color: white;
    
}

.A-body4hover {
    text-transform: uppercase;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    margin-left: 3em;
}

.A-body4 a {
    display:block;
    width: 150px;
    height: 50px;
    background-color: grey;
    color: #fff;
    margin-top: 0em;
    margin-left: 0em;
    text-align: center;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;

    border-radius: 7px;
   

    
}

.A-body4 a:hover {
    background: #93855D;
  
    -webkit-transition: background 500ms linear;
       -ms-transition: background 500ms linear;
       transition: background 500ms linear;
}

.B-body1 
    {
        
        width: 1440px;
        height: 170em;
    background-color: #11271A;}

    .B-body1 img {
        margin-top: 10em;
        margin-left: 0em;
    }

    .B-body1 img:hover {
        color: white;
    }

.B-body1 p {
    text-transform: capitalize;
    margin-top: 0%;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-left: 2em;
    font-size: 4em;
    color: white;
}

.imgholder
    {
        width: 1440px;
        height: 920px;
    background-color: #11271A;}

    .imgholder img {
        margin-top: 2em;
        margin-left: 22em;
    }

    .imgholder img:hover {
        color: white;
    }

.click {
    text-transform: capitalize;
    margin-top: 1em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: xx-large;
    color: white;
}

#buttonHolder {
   
    display: flex;
    flex-direction: row;
}

#buttonHolder img {
    margin-top: 5em;
    margin-left: 5em;
}

#buttonHolder:hover{cursor: pointer;}

.imageccholder { display:block;
    width: 700px;
    height: 520px;
   

 
    margin-left: 25em;


    border-radius: 7px; }

.headingtext {   text-transform: capitalize;
    margin-bottom: 1em;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: xx-large;
    color: white;}

#contact {
    width: 1440px;
    height: 720px;
background-color: #93855D;
}

#contact p {
    text-transform: capitalize;
    margin-top: 0%;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    
 
    font-size: 4em;
    color: white;

}
#contact img {margin-left: 25em;}

.box {

    margin-top: 4em;
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

form {
    align-items: center;
    margin-left: 1em;
    margin: 23px;
}

.field{
    
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    outline: none;
}

label {text-transform: capitalize;
    margin-top: 1em;
    font-family: 'Oswald', sans-serif;}

#country { width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    outline: none;}

.sub {
    margin-top: 1em;
    border-radius: 20px;
    color: #fff;
    padding: 20px;
    width: 450px;
    background-color: darkred;
    font-size: 15px;
    border: none;
}
 
.sub:hover {cursor: pointer;
    background-color: red;
      -webkit-transition: background-color 500ms linear;
         -ms-transition: background-color 500ms linear;
         transition: background-color 500ms linear;
}
